@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,700;0,800;1,700;1,800&display=swap");

* {
  font-family: "Sarabun", sans-serif;
}

.animation-fly {
  -webkit-animation: fly 6s cubic-bezier(0.75, 0.02, 0.31, 0.87) infinite;
  animation: fly 6s cubic-bezier(0.75, 0.02, 0.31, 0.87) infinite;
}

@-webkit-keyframes fly {
  0%,
  to {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(0);
  }
}
@keyframes fly {
  0%,
  to {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(0);
  }
}
